﻿@model IEnumerable<HopDongEMPHighLand.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    * {
        box-sizing: border-box;
    }

        *:focus {
            outline: none;
        }

    body {
        font-family: Arial;
        background-color: #fff;
        padding: 50px;
    }

    .login {
        margin: 20px auto;
        width: 300px;
    }

    .login-screen {
        background-color: #FFF;
        padding: 20px;
        border-radius: 5px
    }

    .app-title {
        text-align: center;
        color: #777;
    }

    .login-form {
        text-align: center;
    }

    .control-group {
        margin-bottom: 10px;
    }

    input {
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        width: 250px;
        transition: border .5s;
    }

        input:focus {
            border: 2px solid #3498DB;
            box-shadow: none;
        }

    .login-link {
        font-size: 12px;
        color: #444;
        display: block;
        margin-top: 12px;
    }
</style>
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login</h1>
        </div>
        @using (Html.BeginForm("UserLogin", "Employees", FormMethod.Get))
        {
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" placeholder="CMND" id="login-name" name="cmnd">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" placeholder="Password" id="login-pass" name="phone">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <input class="btn btn-primary btn-large btn-block" type="submit" value="Login" />
            </div>
        }
    </div>
    <h6>*<i>Chỉ dành cho nhân viên thuôc biên chế công ty</i></h6>
</div>
<h2>Đăng kí nhân viên mới ở đây để đặt lịch phỏng vấn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
    {
    <p>
        Title: @Html.TextBox("txt")
        <input type="submit" value="Search" />
    </p>
}
    @using (Html.BeginForm("ChuyenTrang", "Employees", FormMethod.Get))
    {
        <p>
            <input type="submit" value="chuyển trang" />
        </p>
    }
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameEmp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRight)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEmp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRight)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CMND }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CMND }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CMND })
                </td>
            </tr>
        }

    </table>
