﻿@model HopDongEMPHighLand.Models.Contract

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.NameEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.NameEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfJob.NameJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfJob.NameJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceWork.NamePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceWork.NamePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfTime.NameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfTime.NameType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Contract }) |
    @Html.ActionLink("Back to List", "Index")
</p>
