﻿@model IEnumerable<HopDongEMPHighLand.Models.Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.NameEmp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfJob.NameJob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceWork.NamePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfTime.NameType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.NameEmp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfJob.NameJob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceWork.NamePlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfTime.NameType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Contract }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Contract }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Contract })
        </td>
    </tr>
}

</table>
