﻿@model BeginASPdotNET.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopSV.NameLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopSV.NameLop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SotheSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
