﻿@model IEnumerable<BeginASPdotNET.Models.SinhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p><!-- ACtion link: 2 tham số , tương tự như ahref, Create New là tên đường link, còn create là ActionResult nào của controller-->
    @Html.ActionLink("Create New", "Create")  
    @using (Html.BeginForm("Index","SinhViens",FormMethod.Get))// 3 tham so: action result Index,Controler SInhVoens, method get
    {
        <p>
            Title: @Html.TextBox("txt")--- Class: @Html.DropDownList("Lop_ID","All")
            <input type="submit" value="Tìm kiếm"/>
        </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocBa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LopSV.NameLop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocBa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LopSV.NameLop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SotheSV }) |
            @Html.ActionLink("Details", "Details", new { id=item.SotheSV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SotheSV })
        </td>
    </tr>
}

</table>
